# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
*.properties


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/homaps.iml
/.idea/
/mvnw.cmd
/.mvn/
/mvnw
/src/main/resources/application.properties
target/
/src/test/resources/application.properties
src/main/resources/
src/test/resources/
